<ion-modal-view ng-controller="NewPaymentCtrl" cache-view="false">
	<ion-header-bar>
		<div class="buttons">
			<button class="button button-clear" ng-click="paymentForm.previousStep()">anterior</button>
		</div>
		<h1 class="title">{{ paymentForm.currentStep }}</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="paymentForm.nextStep()">próximo</button>
		</div>
	</ion-header-bar>

<!-- 	<ion-content scroll="false">
	</ion-content>
 -->

	<ion-slide-box class="has-header" on-slide-changed="paymentForm.stepChanged($index)">
		<ion-slide ng-include="'templates/new-payment-modal/slide-phone.html'">

		</ion-slide>
		<ion-slide ng-include="'templates/new-payment-modal/slide-products.html'">

		</ion-slide>
	</ion-slide-box>
</ion-modal-view>
