<ion-view view-title="cobranças realizadas">
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-plus-round" ng-click="openCharge()">
		</button>
	</ion-nav-buttons>
	<div class="bar bar-subheader">
		<button class="button button-positive button-block" ng-click="openCharge()">
			Nova cobrança
		</button>
	</div>

	<!-- contents -->
	<ion-content padding="true" class="has-subheader">
		<ion-list id="payments-list">

			<ion-item 
				class="card"
				ng-repeat="payment in payments"
				href="#/app/payments/{{payment.id}}"
				ng-include="'templates/thumbnails/payment.html'"
			>
			</ion-item>
		</ion-list>
	</ion-content>


</ion-view>
